@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-SemiBoldItalic.eot');
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url('/fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
		url('/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-LightItalic.eot');
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url('/fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-LightItalic.woff') format('woff'),
		url('/fonts/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-Bold.woff') format('woff'),
		url('/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-ExtraBoldItalic.eot');
	src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
		url('/fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
		url('/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-Light.woff') format('woff'),
		url('/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Italic.eot');
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('/fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-Italic.woff') format('woff'),
		url('/fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-Regular.woff') format('woff'),
		url('/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-SemiBold.woff') format('woff'),
		url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-ExtraBold.eot');
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-ExtraBold.woff') format('woff'),
		url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-BoldItalic.eot');
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url('/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OpenSans-BoldItalic.woff') format('woff'),
		url('/fonts/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeueRegular.eot');
	src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
		url('/fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeueRegular.woff') format('woff'),
		url('/fonts/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeueBold.eot');
	src: local('Bebas Neue Bold'), local('BebasNeueBold'),
		url('/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeueBold.woff') format('woff'),
		url('/fonts/BebasNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeueLight.eot');
	src: local('Bebas Neue Light'), local('BebasNeueLight'),
		url('/fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeueLight.woff') format('woff'),
		url('/fonts/BebasNeueLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeue-Thin.eot');
	src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
		url('/fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeue-Thin.woff') format('woff'),
		url('/fonts/BebasNeue-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('/fonts/BebasNeueBook.eot');
	src: local('Bebas Neue Book'), local('BebasNeueBook'),
		url('/fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeueBook.woff') format('woff'),
		url('/fonts/BebasNeueBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background:#e8e8e8 url('../img/bg2.png') 50% 0px no-repeat;
}

.content {
	padding: 118px 0 137px 0;
	max-width: 841px;
	margin: 0px auto;
}
.content_top {
	text-align: center;
	margin: 0px 0px 65px 0px;
}
.content-top__category {
		/* Style for "Travel" */
	opacity: 1.6;
	color: #748187;
	font-size: 56px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	margin: 0px 15px 0px 15px;
	background: #D9FFAD;
	padding: 2px;
	font-family: Bebas Neue;
    src: url(/fonts/BebasNeueBold.ttf);
	text-align: center;
}
.content-top__title {
	/* Style for "Donec sed" */
	color: #273d46;
	font-size: 26px;
	line-height: 50px;
	max-width: 725px;
	margin: 0px auto;
	font-family: Open Sans;
    src: url(/fonts/OpenSans-Regular.ttf);
	text-align: center;
}
.content__image {
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
	background-color: #14141D;
	padding: 10px;
	margin: 0px;
}

.content__image img {
	max-width: 100%;
}
.content-bottom {
	padding: 0px 45px;
	flex-wrap: wrap;
	background-color: #14141D;
}
.content-bottom__text {
		/* Style for "Donec ared" */
	color: #0FFFF1;
	font-size: 34px;
	text-align: center;
	font-family: Bebas Neue;
    src: url(/fonts/BebasNeueBold.ttf);
}

.content-text{
	background-color: #f8f8f8;
	display: flex;
}

.content-text h2{
	margin: 0 !important;
}
h2{
	padding: 50px 30px 0px 30px;
	font-family: Bebas Neue;
	font-size: 36px;
}

.text-from{
	padding: 0px 5px;
	margin-top: 30px;
	width: 330px;
	height: 50px;
	border: 1px solid black;
	display: block;
}
form{
	padding: 15px 15px;
	flex-wrap: wrap;
}

p{
	margin: 35px 30px 0px 15px;
}

button{
	margin-top: 50px;
	width: 330px;
	height: 50px;
	color: #FFFF;
	font-size: 22px;
	font-family: Open Sans Regular;
	border:none;
	background-color: #e800a7;
}

.button__two{
	margin: 43px 63px;
	width: 330px;
	height: 50px;
	color: #FFFF;
	font-size: 22px;
	font-family: Open Sans Regular;
	border: none;
	background-color: #1500a86b;
}

.content-bottom-info-list {
	
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
	padding: 2px;
	margin: 20px 0px 0px 0px;
}
.content-bottom-info-list li {
	font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		margin: 0px 0px 15px 0px;
		background: url(/img/icons/check.png) left no-repeat;
		padding: 0px 0px 0px 35px;
		list-style-type: none;
		
}
.content-bottom-info-list ul {
	padding-left: 2px;
}
.content-bottom-info-list li:last-child {
}
.content-bottom-info-list li:nth-child(1) {
	/* Style for "Put on thi" */
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	color: #0FFFF1;
}
.content-bottom-info-list li:nth-child(2) {
	/* Style for "A detailed" */
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	color: #0FFFF1;
}
.content-bottom-info-list li:nth-child(3) {
	/* Style for "Tell us ab" */
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	color: #0FFFF1;
}
.content-bottom-info-list li:nth-child(4) {
	/* Style for "Associate" */
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	color: #0FFFF1;
}

.content-bottom-info__link {
	height: 44px;
	display: inline-block;
	line-height: 44px;
	padding: 0px 30px;
	border-radius: 24px;
	background-color:#80b7b3;
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 1px rgba(0, 0, 0,0.5);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}

.content-bottom-info__link span {
	background: url(/img/icons/arrow.svg) right no-repeat;
	padding: 0px 32px 0px 0px;
}

.content-bottom-info__link:hover {
	background-color:#511e23;
}
.content-bottom-info__link:active {
	position: relative;
	top: 3px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0,0.5);
}
